$mobile: 390px;

// GENERAL STYLING
* {
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

h2 {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
    @media only screen and (min-width: ($mobile + 1px)) {
        font-size: 48px;
    }
}

p {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 25.6px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 16px;
    @media only screen and (min-width: ($mobile + 1px)) {
            font-size: 18px;
        }

}

// HEADER SECTION
header {
    display: flex;
    place-content: center;
    @media only screen and (min-width: ($mobile + 1px)) {
            display: flex;
            justify-content: space-between;
    }
}

.name-header {
    font-family: "Cormorant", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    @media only screen and (min-width: ($mobile + 1px)) {
        font-size: 48px;
    }
}

nav {
    display:none;
    @media only screen and (min-width: ($mobile + 1px)) {
        width: 483px;
        height: 45px;
        display: flex;
        justify-content: space-evenly;
    }
}

.nav {
    font-family: "Inter", sans-serif;
    color: black;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;

    &--3 {
        border: 1px solid slategray;
        font-weight: 700;
        border-radius: 7px;
        padding: 10px;
    }
}

// INTRO SECTION
h1 {
    font-size: 80px;
    font-weight: 400;
    @media only screen and (min-width: ($mobile + 1px)){
        font-size: 128px;
        margin: 0px;
    }
}

.intro {
    margin: auto; 
    @media only screen and (min-width: ($mobile + 1px)){
        height: 375 px;
        width: 1346px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        margin-top: 80px;
        margin-bottom: 80px;
        &--p1 {
            height: 128px;
            width: 615px;
            margin-left: 0px;
        }
    }  
}

//ABOUT ME SECTION
.about {
    display:flex;
    flex-wrap: wrap;
    margin: auto;
    @media only screen and (min-width: ($mobile + 1px)){
        display: flex;
        flex-direction: column;
        height: 500px;
        width:1200px

    }
    &--heading{
        order: 1;
        width: 800px;
        height: 60px;
    }
    &--para{
        order: 3;
        @media only screen and (min-width: ($mobile + 1px)) {
            order: 2;    
            width: 800px;
            flex: 1;
        }
    }
    &--img {
        display: flex;
        place-content: center;
        order: 2;
        @media only screen and (min-width: ($mobile + 1px)) {
            place-content: center;
            order: 3;
            width:330px;
            }
        }
    }

.profile-img {
    max-height: 401.4px;
    @media only screen and (min-width: ($mobile + 1px)){
        height: 558px;
    }
}

//SKILLS SECTION
.skills {
    text-align: center;
}
.skill-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    @media only screen and (min-width: ($mobile + 1px)){
        justify-content: space-around;
        margin-left: 400px;
        margin-right: 400px;
    }
}
.icon {
    height: 67px;
}
.icon-caption{
    display: flex;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
}

// PORTFOLIO SECTION
.portfolio{
    text-align: center;
    margin-top: 80px;
}
.project {
    height: 165px;
    width: 250px;
    font-size: 32px;
}
.project-container{
    display: grid;
    place-content: center;
    @media only screen and (min-width: ($mobile + 1px)){
        display: flex;
        justify-content: center;
    }
}
.proj-caption {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.eye-icon{
    height:20px;
}
.code-icon{
    height:20px;
}

// CONTACT SECTION
h3 {
    font-size: 80px;
    line-height: 96px;
    text-align: center;
    @media only screen and (min-width: ($mobile + 1px)) {
        font-size: 128;
        line-height: 153px;   
    }
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-link {
    color: black;
    font-weight: 700;
    font-size: 18px;
    border: 2px solid black;
    text-decoration: none;
    padding: 10px 30px;
    margin-bottom: 80px;
    @media only screen and (min-width: ($mobile + 1px)) {
            font-size: 24px;
            padding: 10px 80px;
            
        }
}

// FOOTER SECTION
footer {
    background-color: black;
    height: 114px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media only screen and (min-width: ($mobile + 1px)){
        justify-content: flex-end;
    }
}

.footer-img {
    height: 55px;
    margin: 10px;
}